[submodule "init.lua"]
	path = init.lua
	url = https://github.com/liamwh/init.lua.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/liamwh/init.lua.git
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/liamwh/wezterm
